<div class="jumbotron center">
	<h1>About The Team</h1>
<p>
<%= link_to "Ranald Clarke", "http://uk.linkedin.com/in/roclarke", class: "btn btn-default"%>
<%= link_to "Co-Founder B", "#", class: "btn btn-default"%>
<%= link_to "Co-Founder C", "#", class: "btn btn-default"%>
</p>



