<div class="jumbotron center">
	<h1>About The Team</h1>
<p>
<button type="button" class="btn btn-default"><%= link_to "Jack - Founder", "http://en.wikipedia.org/wiki/Jack_and_Jill_(nursery_rhyme)" %></button>
<button type="button" class="btn btn-default"><%= link_to "Jill - Co-Founder", "http://en.wikipedia.org/wiki/Jack_and_Jill_(nursery_rhyme)" %></button>
<button type="button" class="btn btn-danger"><%= link_to "The Other Guy", "http://www.linkedin.com/in/roclarke" %></button>
</p>



