<h1>About (page)</h1>
<p>
<div class="btn-group">
  <button type="button" class="btn btn-default">The Founder</button>
  <button type="button" class="btn btn-default">The Mascot</button>
  <button type="button" class="btn btn-default">The Random Dude</button>
</div>
</p>


