<div class="jumbotron">
	<h1>About The Team</h1>
<p>
<button type="button" class="btn btn-default"><%= link_to "Jack - Co-Founder", "http://en.wikipedia.org/wiki/Jack_and_Jill_(nursery_rhyme)" %></button>
<button type="button" class="btn btn-default"><%= link_to "Jill - Co-Founder", "http://en.wikipedia.org/wiki/Jack_and_Jill_(nursery_rhyme)" %></button>
<button type="button" class="btn btn-danger"><%= link_to "Random Guy", "https://twitter.com/MrMotivator" %></button>
</p>

