
<div class="jumbotron center">
<h1>This is Pinteresting</h1>

	<% if user_signed_in? %>
		<p>Welcome back</p>
		<% else %>
			<p> 
				<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary"%> 
				<%= link_to "LOGIN", new_user_session_path, class: "btn btn-success"%>
			</p> 
	<% end %>
</div>